{"baseIpAddress":"192.168.33.201","baseDomain":"mercury-01-local.com","firstName":"Sam","lastName":"McKinney","email":"sam.mckinney@sample.com","password":"pickYourPoison1!","accountName":"Mercury I","accountIdentifier":"mercuryi","accountDescription":"Sample account for dev testing","otherUser":true,"userFirstName":"Kathleen","userLastName":"McKinney","userEmail":"kathleen.mckinney@sample.com","userPassword":"pickYourPoison1!"}
